<!--タブメニュー-->
<div class="wrap">
  <ul id="tab-menu">
    <li><a href="#tab1" class="active">新規投稿</a></li>
    <li><a href="#tab2" class="">下書き一覧</a></li>
  </ul>

  <div id="tab-contents">
    <div id="tab1" class="tab">
      <!--新規投稿欄-->
      <div class="container mx-auto">
        <div class="row">
          <div class="col bg-white p-4 shadow-lg mx-auto rounded my-3">
            <%= render 'public/plans/form', plan: @plan %>
          </div>
        </div>
      </div>
    </div>

    <div id="tab2" class="tab">
      <!--下書き一覧-->
      <%= render 'public/plans/drafts', drafts: @drafts %>
    </div>

  </div>
</div>