<!--タブメニュー-->
<div class="wrap">
  <ul id="tab-menu">
    <li><a href="#tab1" class="active">新規投稿</a></li>
    <li><a href="#tab2" class="">下書き一覧</a></li>
  </ul>

  <div id="tab-contents">
    <div id="tab1" class="tab">
      <!--新規投稿欄-->
      <%= render 'new', plan: @plan %>
    </div>

    <div id="tab2" class="tab">
      <!--下書き一覧-->
      <%= render 'index', plans: @drafts %>
    </div>

  </div>
</div>