<div class="container mx-auto">
  <div class="row">

    <div class="col my-3 p-4 mx-auto">

      <div class="row">
        <div class="col mx-2">

        <%= form_with model: @admin, url: admin_session_path do |f| %>

          <div class="mb-2">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "メールアドレス" %>
          </div>

          <div class="mb-4">
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "パスワード" %>
          </div>

          <div class="row justify-content-cente" >
            <%= f.submit "ログイン", class: "btn btn-warning mx-3 mb-3 btn-form" %>
          </div>
        <% end %>

        </div>
      </div>
    </div>
  </div>
</div>