<h2 class="text-center fsize_13-18 mt-4"><%= @user.name %>のフォロワー</h2>
<% if @users.exists? %>
  <%= render "public/users/index", users: @users %>
<% else %>
  <p class="text-center">ユーザーはいません</p>
<% end %>