<h2>検索結果</h2>

<table class="table table-hover table-inverse">
  <!--検索対象モデルがUserの時 -->
  <% if @range == "ユーザー" %>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
        </tr>
      <% end %>
    </tbody>

  <% elsif @range == "プラン" %>
    <!--検索対象モデルがPlanの時-->
    <tbody>
      <% @plans.each do |plan| %>
        <tr>
          <td><%= plan.title %></td>
          <td><%= plan.body %></td>
        </tr>
      <% end %>
    </tbody>

  <% end %>
</table>