<div class="container mx-auto">
  <div class="row">
    <div class="table table-hover table-inverse">

      <!--検索対象モデルがUserの時 -->
      <% if @range == "ユーザー" %>
        <% @users.each do |user| %>
          <%= render 'public/users/user_page', user: user %>
        <% end %>

      <% elsif @range == "プラン" %>
        <!--検索対象モデルがPlanの時-->
        <%= render 'layouts/index', plans: @plans %>
      <% end %>

    </div>
  </div>
</div>