<div class="container mx-auto">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 my-3 p-4 mx-auto">
      <%= render 'layouts/search', object: search_path %>

      <!--検索対象モデルがUserの時 -->
      <% if @range == "User" %>
        <% if @users.present? %>
          <% @users.each do |user| %>
            <%= render 'public/users/user_page', user: user %>
          <% end %>
        <% else %>
        <div class="text-center mt-5">
          検索にヒットしませんでした
        </div>
        <% end %>

      <!--検索対象モデルがPlanの時-->
      <% elsif @range == "Plan" %>
        <% if @plans.present? %>
          <%= render 'public/plans/index', plans: @plans %>
        <% else %>
          <div class="text-center mt-5">
            検索にヒットしませんでした
          </div>
        <% end %>
      <% else %>
        <div class="text-center mt-5">
          検索にヒットしませんでした
        </div>
      <% end %>

    </div>
  </div>
</div>