<div class="col-sm-8 col-md-6 col-lg-4 bg-white my-3 p-3 mx-auto">
  <div class="text-center mb-3">
    <h5 class="text-lg font-bold mb-4"><b>プライバシーポリシー</b></h5>
  </div>
  <p>おでかけプランニング（以下、「当方」といいます。）がこのウェブサイト上で提供するサービス（以下、「本サービス」といいます。）における、ユーザーの個人情報の取扱いについて、以下のとおりプライバシーポリシー（以下、「本ポリシー」といいます。）を定めます。</p>

  <div class="p-2">
    <h6 class="border-bottom"><b>第1条（個人情報）</b></h6>
    <p>「個人情報」とは，個人情報保護法にいう「個人情報」を指すものとし，生存する個人に関する情報であって，当該情報に含まれる氏名，生年月日，住所，電話番号，連絡先その他の記述等により特定の個人を識別できる情報及び容貌，指紋，声紋にかかるデータ，及び健康保険証の保険者番号などの当該情報単体から特定の個人を識別できる情報（個人識別情報）を指します。</p>
  </div>

  <div class="p-2">
    <h6 class="border-bottom"><b>第2条（個人情報の収集方法）</b></h6>
    <p>当方は，ユーザーが利用登録をする際に、氏名，メールアドレス、Googleアカウント情報などの個人情報を取得することがあります。</p>
  </div>

  <div class="p-2">
    <h6 class="border-bottom"><b>第3条（個人情報を収集・利用する目的）</b></h6>
    <p>当方が個人情報を収集・利用する目的は、以下のとおりです。</p>
    <ol style="list-style-position:inside;">
      <li>本サービスの提供・運営のため</li>
      <li>ユーザーからのお問い合わせに回答するため（本人確認を行うことを含む）</li>
      <li>メンテナンス、重要なお知らせなど必要に応じたご連絡のため</li>
      <li>利用規約に違反したユーザーや、不正・不当な目的でサービスを利用しようとするユーザーの特定をし、ご利用をお断りするため</li>
      <li>ユーザーにご自身の登録情報の閲覧や変更を行っていただくため</li>
      <li>上記の利用目的に付随する目的</li>
    </ol>
  </div>

  <div class="p-2">
    <h6 class="border-bottom"><b>第4条（利用目的の変更）</b></h6>
    <ol style="list-style-position:inside;">
      <li>当方は、利用目的が変更前と関連性を有すると合理的に認められる場合に限り、個人情報の利用目的を変更するものとします。</li>
      <li>利用目的の変更を行った場合には、変更後の目的について、本サービス所定の方法により、ユーザーに通知、または本ウェブサイト上に公表するものとします。</li>
    </ol>
  </div>

  <div class="p-2">
    <h6 class="border-bottom"><b>第5条（個人情報の第三者提供）</b></h6>
    <p>本サービスは、ユーザーの同意を得ることなく、第三者に個人情報を提供することはありません。ただし、個人情報保護法その他の法令で認められる場合を除きます。</p>
  </div>

  <div class="p-2">
    <h6 class="border-bottom"><b>第6条（プライバシーポリシーの変更)</b></h6>
    <ol style="list-style-position:inside;">
      <li>本ポリシーの内容は、法令その他本ポリシーに別段の定めのある事項を除いて、ユーザーに通知することなく、変更することができるものとします。</li>
      <li>本サービスが別途定める場合を除いて、変更後のプライバシーポリシーは、本ウェブサイトに掲載したときから効力を生じるものとします。</li>
    </ol>
  </div>

  <div class="p-2">
    <h6 class="border-bottom"><b>第7条（お問い合わせ窓口)</b></h6>
    <p>お客様の情報の開示、情報の訂正、利用停止、削除をご希望の場合は、お問い合わせ、または管理者Xアカウントまでお願いいたします。</p>
  </div>