<div class="container fixed-bottom-form">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-10 col-lg-8">
      <div class="col-md-8 mx-auto">
        <%= form_with model: chat, local: false do |f| %>
          <div class="input-group">
            <%= f.hidden_field :room_id %>
            <%= f.text_area :message, class: "form-control chat_textfield", placeholder: "コメントを送信", rows: 1 %>
            <div class="input-group-append">
              <button type="submit" class="btn btn-primary">
                <i class="fas fa-paper-plane fa-lg" style="color: #ffffff;"></i>
              </button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>