/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.logo {
  width: 250px;
  height: 250px;
}

#user_is_active {
  padding: 8px;
}

#plan_is_draft {
  padding: 8px;
}

#range {
  padding: 4px 0;
}

.unread {
  font-weight: bold;
}

/*ヘッターフッターアイコン*/
.menu-icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none !important;
}

.navbar-nav {
  flex-direction: row !important;
}
.navbar-nav .nav-item {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/*フォントサイズ指定*/
.fsize_13-18 {
  font-size: clamp(14px, 3vw, 18px);;
}

/*タブメニューcss*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

#tab-menu {
  display: flex;
}

#tab-menu li {
  list-style-type: none;
  width: 50%;
}

#tab-menu li a {
  color: #000;
  text-decoration: none;
  display: block;
  margin-top: 20px;
  text-align: center;
  background: #CDD3E8;
}

#tab-menu .active {
  border-bottom: 3px solid #FFDF5B;
  color: #000;
}

#tab-contents {
  display: flex;
  flex-wrap: wrap;
}

#tab-contents .tab {
  width: 100%;
  padding: 15px;
  background: #CDD3E8;
  border-top: none;
}

#tab-contents p {
  color: #000;
  line-height: 2.5;
}

/*自分以外のメッセージの吹き出し*/
.other-user-says {
  float: left;
  position: relative;
  width: calc(100% - 56px);
  padding: 16px;
  background: #ffffff;
  border-radius: 15px;
  line-height: 1.5;
  word-break: break-all;
}
.other-user-says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #ffffff;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

/*自分のメッセージの吹き出し*/
.says {
  float: right;
  position: relative;
  width: calc(100% - 56px);
  padding: 16px;
  background: #ffffff;
  border-radius: 15px;
  line-height: 1.5;
  word-break: break-all;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #ffffff;
  -webkit-transform: rotate(145deg);
  transform: rotate(145deg);
}

/*チャットフォーム*/
.fixed-bottom-form {
  position: fixed;
  bottom: 85px;
  left: 50%;
  transform: translateX(-50%);
}