<div class="container mx-auto">
  <div class="row">
    <% @users.each do |user| %>

      <div class="col-sm-12 col-md-10 col-lg-8 px-sm-0 bg-white my-3 p-4 shadow-lg mx-auto rounded">
        <div class="row">
          <div class="col-3">
            <%= image_tag user.get_profile_image(90, 90), class: "rounded-circle mx-auto d-block" %>
          </div>
          <div class="col">
            <% if user.is_active? %>
              <div><b><%= "有効" %></b></div>
            <% else %>
              <div><b><%= "無効" %></b></div>
            <% end %>
            <%= link_to "編集", edit_admin_user_path(user), class: "btn btn-warning" %>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>
