<div class="container mx-auto">
  <div class="row">

    <div class="col-sm-10 col-md-8 col-lg-6 bg-white my-3 p-4 mx-auto rounded-pill">
      <div class="row">
        <div class="col mx-2">
          <%= image_tag @user.get_profile_image(100, 100), class: "rounded-circle ml-auto d-block" %>
        </div>

        <div class="col mx-2 my-auto">
          <div class="row"><%= @user.name %></div>
          <div class="row"><%= @user.email %></div>
          <div class="row">
            <div class="col">
              <% if @user.is_active %>
                <div><b>有効</b></div>
              <% else %>
                <div><b>無効</b></div>
              <% end %>
            </div>
            <div class="col"></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!--プラン一覧を表示-->
<%= render 'layouts/admin_index', plans: @plans %>