<%= link_to transition_path(notification) do %>
  <div class="fsize_13-18">
    <%= link_to notification.subject.user.name, user_path(notification.subject.user) %>
    から
    <%= link_to 'DM', chat_path(notification.subject.user) %>
    が届きました
    <%= " (#{time_ago_in_words(notification.created_at)}前)" %>
  </div>
<% end %>