<div class="container mx-auto">
  <div class="row">
    <div class="col bg-white p-4 shadow-lg mx-auto rounded my-3">

      <% if notifications_read.present? %>
        <%= link_to "全削除",notification_path(notifications_read), method: :delete,class:"btn btn-danger" %>
        <%= link_to "全て既読にする", mark_all_as_read_notifications_path, method: :post, class: "btn btn-primary" %>
        <% notifications_read.each do |notification| %>
        <div class="<%= notification.read ? 'read' : 'unread' %>">
          <%= render "#{notification.action_type}", notification: notification %>
        </div>
        <% end %>
      <% else %>
      <div class="text-center">
        未読通知はありません
      </div>
      <% end %>

    </div>
  </div>
</div>