<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 bg-white my-3 p-4 shadow-lg mx-auto rounded">

      <% if @notifications.present? %>
        <%= link_to "全削除",notification_path(@notifications), method: :delete,class:"btn btn-danger" %>
        <% @notifications.each do |notification| %>
          <%= render "#{notification.action_type}", notification: notification %>
        <% end %>
      <% else %>
        通知はありません
      <% end %>

    </div>
  </div>
</div>