<div class="container mx-auto">
  <div class="row">
    <div class="col px-sm-0 bg-white my-3 p-4 shadow-lg mx-auto rounded">

      <h3 class="text-center my-5">いいね一覧</h3>
        <table class="table">
          <tbody>
            <% like_plans.each do |plan| %>
            <tr>
              <td style="font-size: clamp(14px, 3vw, 20px);;">
                <%= link_to plan.title, plan_path(plan) %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>

        </div>
      </div>
    </div>
  </div>
</div>