<div class="container mx-auto">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 bg-white my-3 p-4 shadow-lg mx-auto rounded">

          <h4 class="text-center mb-2"><b>退会確認画面</b></h4>

          <div class="text-center">退会するとユーザー情報や</div>
          <div class="text-center">投稿履歴が閲覧できなくなります</div>
          <div class="text-center">退会する場合は、「退会する」ボタンをクリックしてください</div>
          <%= image_tag "dog.png" ,size: "250x250", class: "mx-auto img-fluid d-block" %>

          <div class="text-center">
            <%= link_to "退会しない", mypage_path, class: "btn btn-primary px-4 m-2" %>
            <%= link_to "退会する", close_account_user_path, method: :patch, data: { confirm: "本当に退会しますか？" },class: "btn btn-danger px-4 m-2" %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>