<footer class="mb-20">
  <div class="row border-bottom">
    <div class="col text-center">
      <%= link_to "利用規約", terms_of_use_path, class: "fsize_13-18" %>
    </div>
    <div class="col-7 text-center">
      <%= link_to "プライバシーポリシー", privacy_policy_path, class: "fsize_13-18" %>
    </div>
  </div>
  <div class="text-center mt-2">
    © 2024  - GooutPlanning -
  </div>
</footer>