<footer class="bg-base-color px-2 mb-20">
  <div class="flex justify-center items-center">
    <div class="inline-block align-middle px-2">
      <%= link_to "利用規約", terms_of_use_path %>
    </div>
    <div class="inline-block align-middle px-2">
      <%= link_to "プライバシーポリシー", privacy_policy_path %>
    </div>
  </div>
  <hr class="my-2" />
  <div class="text-xs text-center">
    © 2024  - GooutPlanning -
  </div>
</footer>