<li class="nav-item mx-3">
  <div class="search_form">
    <%= form_with url: object, local: true, method: :get do |f| %>
      <%= f.text_field :word, placeholder: 'Search' %>
      <%= f.select :range, options_for_select([['User'], ['Plan']]) %>
      <%= f.submit "検索", class: "btn btn-primary btn-sm mb-1" %>
    <% end %>
  </div>
</li>